.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.cell {
  border: 1px solid black;
  padding: 10% 0;
  list-style: none;
  float: left;
  width: 30%;
}

.ticTacBoard {
  max-width: 40%;
  margin: 5em auto;
}
